<title><%= PAGE_TITLE %></title>
<meta property="og:title" content="<%= PAGE_TITLE %>" />
<meta name="twitter:title" content="<%= PAGE_TITLE %>" />

<meta name="description" content="Descripcion bonita" />
<meta property="og:description" content="Descripcion bonita" />
<meta name="twitter:description" content="Descripcion bonita" />

<link rel="stylesheet" href="/css/styles.css" />

<link
  rel="shortcut icon"
  type="image/x-icon"
  href="https://leandromuzzupappa.github.io/assets/images/favicon.png"
/>
<link
  rel="apple-touch-icon"
  href="https://leandromuzzupappa.github.io/assets/images/largeFavicon.png"
/>
<meta
  property="og:image"
  content="https://leandromuzzupappa.github.io/assets/images/largeFavicon.png"
/>
<meta
  name="twitter:image"
  content="https://leandromuzzupappa.github.io/assets/images/largeFavicon.png"
/>
