<% const hashedText = locals.hashedText; %>

<!DOCTYPE html>
<html lang="es">
  <head>
    <% PAGE_TITLE = 'MD5 Hasher' %> <%- include('../partials/head') %>
  </head>
  <body>
    <main>
      <section>
        <form action="/results">
          <label for="str">Texto a hashear (MD5)</label>
          <input
            type="text"
            name="str"
            id="str"
            placeholder="Inserta un texto"
          />
          <button>Hashear</button>
        </form>

        <% if (hashedText) { %>
        <div class="results">
          <h4>Este es tu texto hasheado:</h4>
          <p><%= hashedText %></p>
        </div>
        <% } %>
      </section>
    </main>
  </body>
</html>
