<!DOCTYPE html>
<html lang="es">
  <head>
    <% PAGE_TITLE = 'MD5 Hasher' %> <%- include('../partials/head') %>
  </head>
  <body>
    <h1>Lenny was here super overloaded x3! 100% real no fake</h1>
  </body>
</html>
